<%= form_with(model: [@group, @group.investments.build]) do |form| %>
  <% if investment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(investment.errors.count, "error") %> prohibited this investment from being saved:</h2>

      <ul>
        <% investment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, autofocus: true, placeholder: "Name"%>
  </div>

  <div class="field">
    <%= form.number_field :amount, step: :any, autofocus: true, placeholder: "Amount"%>
  </div>

  <div class="actions">
    <%= form.submit "Add transaction", class: "actions", id: "submit-button" %>
  </div>
<% end %>
